{% extends "base.html" %}
{% load static %}

{% block page_title %}My blog{% endblock %}

{% block css_files%}
<link rel="stylesheet" href="{% static 'blog/index.css' %}"/>
{%endblock%}

{% block page_body %}

<section id="welcome" class="container">
  <header>
    <img src="{% static "blog/images/a.jpg" %}" style="width:12rem;height:auto;" alt="This - author of this blog" />
    <h2>This Blog</h2>
  </header>
  <p>Hi, this is a random post that is created here</p>
</section>
<section id="latest-posts"  class="container">
  <h2>My latest thoughts</h2>
  <ul>
    {% for post in posts %}
      <li>
        {% include "blog/includes/post.html" %}
      </li>
      {% endfor %}
  </ul>
</section>
<section id="about"  class="container">
  <h2>What I do</h2>
  <p>sdfsdf sdf sdf sf sf sf sf sf sf sf sdf sdf </p>
  <p>sdf g;lglkdfn df gdf gdfgm dfkg ngjksjk sdfkjsdfkjsf </p>
</section>
{% endblock %}